* {
    padding: 0;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 15%;
    background-color: #009deb;
    margin: 0px;
    display: flex;    
    flex-direction: column;
    color: white;
}

.form {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo {
    margin-top: 0px;
}

.input-box input, select{
    margin: 5px;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000003d;
}

.clima {
    display: flex;
    margin-top: 5px;
    background-color: #000;
}