* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.vermelho {
    background-color: #C8102E;
    width: 100%;
    height: 45%;

    display: flex;
}

.branco {
    background-color: white;
    width: 100%;
    height: 10%;
}

.vermelhop {
    width: 30%;
    height: 20%;
    background-color: #C8102E;
}

.brancoi {
    width: 7%;
    height: 100%;
    background-color: white;
}

.vermelhog {
    width: 73%;
    height: 100%;
    background-color: #C8102E;
}