*{
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center; 
    padding: 20px;
}

ul {
    padding-left: 2px;
}

.container {
    width: 600px;
    padding: 20px;
}

.titulo{
    font-size: 50px;
}

.links {
    color: #bb3434;
}

.corpo-texto {
    font-weight: 400px;
    line-height: 28px;
}

.center {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
}

.fino {
    font-weight: 100
}

.bolinhas {
    list-style-type: none;
    padding-left: 0;
    line-height: 28px;
}
  
.bolinhas li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 8px;
}
  
.bolinhas li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.7em;
    width: 3px;
    height: 3px;
    background-color: #bb3434;
    border-radius: 1px; 
}

#legenda {
    border-left: 3px #bb3434 solid;
    padding-left: 20px;
    border-radius: 1px;
}

#img {
    border-radius: 5px;
    width: 100%;
}

#rodape {
    font-style: italic;
}

#cinza {
    color: #666666;
}