<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">

        </div>

        <div class="body">

            <div class="cards">
                <img src="" alt="">
            </div>
            <p class="cards-text">Bicleta</p>

            <div class="cards">
                <img src="" alt="">
            </div>
            <p class="cards-text">Carros</p>

            <div class="cards">
                <img src="" alt="">
            </div>
            <p class="cards-text">Barcos</p>

            <div class="cards">
                <img src="" alt="">
            </div>
            <p class="cards-text">Calças</p>

            <div class="cards">
                <img src="" alt="">
            </div>
            <p class="cards-text">Bermudas</p>

            <div class="cards">
                <img src="" alt="">
            </div>
            <p class="cards-text">Camisas</p>

        </div>
    </div>
    
</body>
</html>