*{
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
}

a {
    color: rgb(3, 90, 90);
}

p {
    font-weight: 400px;
    line-height: 28px;
}

.cabecalho {
    max-width: 1000px;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}
.topo {
    width: 100%;
}

.cinza{
    color: gray;
}


.img {
    width: 100%;
    padding: 0 20px;
}

.secao {
    font-weight: 50;
    text-align: center;
}

.titulo {
    text-decoration: none;
    font-style: normal;
    text-align: center;
    font-weight: lighter;    
}

.noticia {
    font-weight: 200px;
    line-height: 15px;
}

#imgdois {
    width: 80%;
}


