:root {
    --corlink: rgb(3, 90, 90);
    --tamanho: 1000px
}

html body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a[href="link.com"] {
    color: var(--corlink);
}

main p {
    font-weight: 400px;
    line-height: 28px;
}

.cabecalho div{
    max-width: var(--tamanho);
    margin: auto;
}

div.container {
    max-width: var(--tamanho);
    margin: auto;
}

figure .topo {
    width: 100%;
}

span.cinza{
    color: gray;
}


.img[alt="Imagem dollar"] {
    width: 100%;
    padding: 0 20px;
}

main .secao {
    font-weight: 50;
    text-align: center;
}

main .titulo {
    text-decoration: none;
    font-style: normal;
    text-align: center;
    font-weight: lighter;    
}

article .noticia {
    font-weight: 200px;
    line-height: 15px;
}

section #imgdois {
    width: 80%;
}


